<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pet Message Board | Messages</title>
		<link rel="stylesheet" href="./styles.css" />
		<script src="./script.js" defer></script>
		<link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
	</head>
	<body>
		<div id="message-board">
			<header class="page-header-container">
				<h1 class="page-heading">Pet Message Board</h1>
				<p class="page-subheading">Leave a message from your pet!</p>
			</header>
			<div class="gradient-overlay"></div>
			<section id="messages-container">
				<p id="messages-end-text">End of messages</p>
				<% messages.map((message) => { %>
				<article class="message-container">
					<header class="message-header-container">
						<h3 class="message-username"><%= message.username %></h3>
						<time class="date-added" datetime="<%= message.sent_at.toISOString() %>">
							<%= formatRelativeTime(message.sent_at) %>
						</time>
					</header>
					<p class="message-body"><%= message.message %></p>
				</article>
				<% }) %>
			</section>
			<a class="btn-emphasis" href="./new">
				<span class="btn-emphasis-text">Leave a message +</span>
			</a>
		</div>
	</body>
</html>
