<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message Board | Messages</title>
		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body>
		<main>
			<h1>Message Board</h1>
			<ul id="messages">
				<% messages.map((message) => { %>
				<li class="message-container">
					<div class="message-header">
						<h3><%= message.user %></h3>
						<p><%= formatDate(message.added) %></p>
					</div>
					<p><%= message.text %></p>
				</li>
				<% }) %>
			</ul>
			<button><a href="./new">New Message</a></button>
		</main>
	</body>
</html>
