<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message Board | Messages</title>
		<link rel="stylesheet" href="./styles.css" />
		<script src="./script.js" defer></script>
	</head>
	<body>
		<main>
			<h1>Message Board</h1>
			<ul id="messages">
				<% messages.map((message) => { %>
				<li class="message-container">
					<div class="message-header">
						<h3><%= message.username %></h3>
						<p class="added"><%= formatDate(message.sent_at) %></p>
					</div>
					<p class="message-body"><%= message.message %></p>
				</li>
				<% }) %>
			</ul>
			<button class="new-button"><a href="./new">Leave a message +</a></button>
		</main>
	</body>
</html>
