<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="./script.js" defer></script>
		<title>Pet Message Board | New Message</title>
		<link rel="stylesheet" href="./styles.css" />
		<link rel="shortcut icon" href="./favicon.svg" type="image/x-icon" />
	</head>
	<body>
		<div id="message-board">
			<header class="page-header-container">
				<h1 class="page-heading">Pet Message Board</h1>
				<p class="page-subheading">Leave a message from your pet!</p>
			</header>
			<form id="new-message-form" method="post" action="/new">
				<fieldset class="form-fields-container">
					<legend>Post a Message</legend>
					<div class="field-container">
						<label class="field-label" for="username">Your name: </label>
						<input class="field" id="username" name="username" type="text" required />
					</div>
					<div class="field-container">
						<label class="field-label" for="message" required>Your message:</label>
						<textarea class="field" id="message" name="message" maxlength="200" required></textarea>
					</div>
					<div id="submit-button-container">
						<button id="submit-btn" class="btn-emphasis" type="submit">
							<span class="btn-emphasis-text">Post message</span>
						</button>
					</div>
				</fieldset>
			</form>
			<nav>
				<a class="btn" href="./">
					<span class="btn-text"><span class="arrow">â</span> Back to messages</span>
				</a>
			</nav>
		</div>
	</body>
</html>
