<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles.css" />
		<title>Message Board | New Message</title>
	</head>
	<body>
		<main>
			<header>
				<h1>Pet Message Board</h1>
				<p>Leave a message from your pet!</p>
			</header>
			<form method="post" action="/new">
				<ul>
					<li class="field">
						<label for="username">Your name: </label>
						<input id="username" name="username" type="text" required />
					</li>
					<li class="field">
						<label for="message">Your message:</label>
						<textarea name="message" id="message" maxlength="200"></textarea>
					</li>
					<li id="submit-button">
						<button class="new-button" type="submit"><a>Post message</a></button>
					</li>
					<li>
						<button class="button" type="button">
							<a href="./"
								><span style="display: inline-block; transform: rotate(180deg)">â</span> Back to
								messages</a
							>
						</button>
					</li>
				</ul>
			</form>
		</main>
	</body>
</html>
