<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>New message</h1>
		<form method="post" action="/new">
			<ul>
				<li>
					<label for="user">User</label>
					<input id="user" name="user" type="text" required />
				</li>
				<li>
					<label for="text">Message</label>
					<input id="text" name="text" type="text" required />
				</li>
				<li>
					<button type="submit">Post</button>
					<button type="button"><a href="./">Cancel</a></button>
				</li>
			</ul>
		</form>
	</body>
</html>
