<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message Board | 404 Page Not Found</title>
		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body>
		<div id="message-board">
			<header class="page-header-container">
				<h1 class="page-heading">Pet Message Board</h1>
				<p class="page-subheading">Leave a message from your pet!</p>
			</header>
			<div class="err-container">
				<h2 class="err-code">404</h2>
				<p class="err-message">Page not found</p>
				<button class="btn" type="button">
					<a class="btn-text" href="./">
						<span style="display: inline-block; transform: rotate(180deg)">â</span> Back to messages
					</a>
				</button>
			</div>
		</div>
	</body>
</html>
