@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
	--emphasis-hue: 220;
	--contrast-hue: 32;

	--cl-emphasis-vivid: hsl(var(--emphasis-hue), 62%, 50%);
	--cl-emphasis-light: hsl(var(--emphasis-hue), 62%, 90%);
	--cl-emphasis-dark: hsl(var(--emphasis-hue), 62%, 20%);

	--cl-emphasis: var(--cl-emphasis-vivid);
	--cl-emphasis-shade: var(--cl-emphasis-light);
	--cl-background: white;
	--cl-background-shade: hsl(0, 0%, 95%);
	--cl-background-shade-2: hsl(0, 0%, 90%);
	--cl-midground: hsl(0, 0%, 50%);
	--cl-foreground: black;
	--cl-foreground-shade: hsl(0, 0%, 15%);
	--cl-foreground-shade-2: hsl(0, 0%, 30%);

	--box-shadow-dark: 2px 2px 8px hsl(0, 0%, 0%, 0.1);
	--box-shadow-light: 2px 2px 8px hsl(0, 0%, 0%, 0.5);
	--box-shadow: var(--box-shadow-dark);

	--br-light: 0.25rem;
	--br-normal: 0.5rem;
	--site-padding-x: max(12vw, 4rem);

	color-scheme: light dark;

	font-family: "Nunito", system-ui;
	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--cl-foreground);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--cl-background);
}

@media (prefers-color-scheme: dark) {
	:root {
		--cl-emphasis: var(--cl-emphasis-vivid);
		--cl-emphasis-shade: var(--cl-emphasis-dark);
		--cl-background: hsl(0, 0%, 20%);
		--cl-background-shade: hsl(0, 0%, 10%);
		--cl-background-shade-2: hsl(0, 0%, 5%);
		--cl-midground: hsl(0, 0%, 50%);
		--cl-foreground: white;
		--cl-foreground-shade: hsl(0, 0%, 95%);
		--cl-foreground-shade-2: hsl(0, 0%, 90%);
	}
}

* {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--cl-background-shade);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	border-radius: var(--br-normal);
	padding: 1rem 2rem;
	height: 80vh;
	width: min(80vw, 30rem);

	background-color: var(--cl-background);
	box-shadow: var(--box-shadow);
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h3 {
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.button {
	border: none;
	border-radius: var(--br-light);
	padding: 0.75rem 1.25rem;

	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: var(--cl-background);

	background-color: var(--cl-foreground-shade);
	cursor: pointer;

	transition: 400ms;
}

.button:hover {
	color: var(--cl-foreground);
	background-color: var(--cl-background-shade-2);
}

.new-button {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 4px;
	border: none;
	border-radius: 3rem;
	padding: 4px;

	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: var(--cl-background);

	background: linear-gradient(
		70deg,
		hsl(180, 70%, 50%) 10%,
		hsl(200, 70%, 50%) 40%,
		hsl(210, 70%, 50%) 60%,
		hsl(230, 70%, 45%) 90%
	);
	cursor: pointer;

	transition: filter 600ms ease-in;
}

.new-button:hover {
	filter: hue-rotate(60deg);
	animation: pulse 400ms ease-in-out;
}

.new-button a {
	border: solid 2px var(--cl-background);
	border-radius: inherit;
	padding: 1rem 2rem;
	transition: 200ms;
}

.new-button a:hover {
	padding: 0.93rem 1.5rem;
	font-size: 1rem;
}

#messages {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	overflow: scroll;
	border-radius: 0 var(--br-light) var(--br-light) 0;
}

.message-container {
	border-left: solid 2px var(--cl-midground);
	padding: 0.5rem;

	background-color: var(--cl-background-shade);
}

.message-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.25rem;
}

.added {
	color: var(--cl-midground);
	font-size: 0.8rem;
}

.message-body {
	color: var(--cl-foreground-shade-2);
}

@keyframes pulse {
	0% {
		margin: 4px;
		padding: 4px;
	}
	50% {
		margin: 0px;
		padding: 8px;
	}
	100% {
		margin: 4px;
		padding: 4px;
	}
}

@keyframes pulse-text {
	0% {
		padding: 1rem 2rem;
		font-size: 0.9rem;
	}
	50% {
		padding: 0.93rem 1.5rem;
		font-size: 1rem;
	}
	100% {
		padding: 1rem 2rem;
		font-size: 0.9rem;
	}
}
